// About styling

$about-person-height: 300px;
$about-person-vertical-spacing: $size-base * 4;
.about {
	.logo {
		text-align: center;
		margin: $size-base * 7 0;

		img {
			height: 200px;
			display: inline-block;
		}
	}

	.global-title-font {
		font-size: 18px;
	}

	.people {
		background-color: $color-grey-2;
	}

	.person {
		display: flex;
		align-items: center;
		height: $about-person-height;
		padding: $about-person-vertical-spacing $size-base * 7;
		border-bottom: 3px solid $color-white;

		&:last-child {
			border-bottom: none;
		}

		img {
			flex: 0 0 auto;
			height: $about-person-height - ($about-person-vertical-spacing * 2);
		}

		> div {
			flex: 1 1 auto;
			padding-left: $size-base * 7;
		}

		.name {
			font-size: 16px;
			font-weight: bold;
		}

		.position {
			color: $color-deep-grey;
			font-size: 12px;
			margin-top: -2px;
			margin-bottom: $size-base;
		}
	}
}
