// Styles relating to the challenge screen.
$challenge-header-height: 52px;
.challenge-header {
	@extend %shadow-layer-2;

	width: 100%;
	height: $challenge-header-height;
	padding: 0 $size-base * 2;
	display: flex;
	margin-bottom: -$challenge-header-height;
	position: absolute;

	button, a {
		&, &:link, &:visited {
			display: inline-block;
			background-color: transparent;
			color: $color-light-purple;
			height: $challenge-header-height;
			border: none;
			padding: 0 $size-base * 2;
			cursor: pointer;
			font-size: 16px;
			line-height: $challenge-header-height;
		}

		&:hover, &:active {
			background-color: $color-grey;
		}

		&.primary:hover {
			background-color: $color-light-purple;
			color: $color-white;
		}

		i {
			padding-right: $size-base * 2;
		}
	}

	.left, .right {
		flex: 1 1 auto;
	}
	.right {
		text-align: right;
	}
}

$height-scss-fix: 100%;
.challenge-dual-pane {
	display: flex;
	height: 100%;
	padding-top: $challenge-header-height;

	.left {
		flex: 1 1 30%;
		background-color: $color-deep-purple;
		color: $color-grey;
		padding: $size-base * 4;
	}

	.right {
		flex: 1 1 70%;

		pre, code {
			width: 100%;
			height: 100%;
		}

		> div {
			position: absolute;
			width: 70%;
			height: calc(#{$height-scss-fix} - #{$challenge-header-height});
			&:nth-child(1) {
				z-index: 3;
			}
			&:nth-child(2) {
				z-index: 2;
			}
		}
	}
}
#challenge-input {
	width: 100%;
	height: 100%;
	resize: none;
	border: none;
	display: block;
	background: transparent;
	color: transparent;
	caret-color: $color-white;
	outline: none;
	overflow: auto;
	white-space: nowrap;
}

.challenge-side-header {
	padding-bottom: $size-base * 4;
	.title {
		font-size: 21px;
	}
	.subtitle {
		color: $color-deep-grey;
		font-size: 14px;
	}
}

.challenge-side-body {
	font-size: 14px;

	.block {
		padding-bottom: $size-base * 2;
	}
	li {
		margin-left: $size-base * 3;
		margin-top: $size-base;

		&:nth-child(1) {
			margin-top: 0;
		}
	}
	code {
		background-color: $color-midnight-bluuu;
	}
}
