// Earnings
.earnings {
	display: flex;
	padding: $size-base * 2;

	.card {
		.title {
			text-align: left;
			margin-bottom: $size-base * 2;
		}

		.hint {
			font-size: 14px;
			color: $color-grey-5;
			font-weight: normal;
		}

		.big-number {
			font-size: 20px;
			font-weight: bold;
			text-align: center;
		}
	}

	.card-spacing {
		height: $size-base * 2;
	}

	.left {
		flex: 0 0 auto;
		width: 300px;
		padding: $size-base * 2;
	}

	.right {
		flex: 1 1 auto;
		padding: $size-base * 2;
	}
}
#earning-review-history {
	width: 80%;
}
