// Styles only shown in index.html
.home-header {
	height: $home-header-height;
	background: $home-header-background-color url(https://s3-us-west-2.amazonaws.com/jpli-capstone/logo/home-header-bg.png);
	color: $home-header-color;
	font-size: 0;

	.content {
		width: 100%;
		text-align: center;
		font-size: 16px;

		a {
			&, &:link, &:visited {
				color: $home-header-color;
				background-color: $home-header-button-background-color;
				padding: $size-base * 1 $size-base * 7;
				border-radius: 100px;
				display: inline-block;
			}
			&:hover, &:active {
				color: $home-header-button-background-color;
				background-color: $home-header-color;
			}
		}
	}

	.global-title {
		font-size: 26px;
		letter-spacing: 3px;
		text-transform: uppercase;
	}

	.subtitle {
		max-width: $size-base * 70;
		margin: 0 auto;
	}

	.spacer {
		height: $size-base * 4;
	}
}

.home-navbar {
	display: flex;
	align-items: center;
	padding: $home-navbar-spacing;
	letter-spacing: 3px;
	font-weight: bold;
	height: $home-navbar-height + ($home-navbar-vertical-spacing * 2);
	margin-bottom: -($home-navbar-height + ($home-navbar-vertical-spacing * 2));

	.left {
		flex: 0 0 auto;
		width: $home-navbar-height;
		height: $home-navbar-height;
	}
	.right {
		flex: 1 1 auto;
		text-align: right;
	}

	a {
		&, &:link, &:visited {
			font-size: 16px;
			border-radius: $home-navbar-height;
			text-transform: uppercase;
			color: $home-header-color;
			padding: $home-navbar-link-padding;
		}
		&:hover, &:active {
			color: $home-navbar-color-active;
		}
		&.bordered {
			border: $home-navbar-bordered-width solid $home-header-color;
		}
	}

	li {
		display: inline-block;
		list-style: none;
	}
}
