// Controls styles for the dual pane page.
$sass-fix: 100%;
.global-main {
	height: calc(#{$sass-fix} - #{$header-height});
	display: flex;
}

.dual-pane-page-left {
	height: 100%;
	background-color: $color-white;
	flex: 0 0 auto;
	width: $dual-pane-left-width;
	max-width: $dual-pane-left-max-width;
} 

.dual-pane-page-right {
	flex: 1 1 auto;
}
