// Controls styles for the dual pane page.
.dual-pane-page {
	display: flex;
	height: 100%;
}

.dual-pane-page-left {
	height: 100%;
	background-color: $dual-pane-sidebar-background-color;
	flex: 0 0 auto;
	width: $dual-pane-left-width;
	max-width: $dual-pane-left-max-width;
}

.dual-pane-page-right {
	flex: 1 1 auto;
	height: 100%;
}

.dual-pane-page-header {
	text-align: right;
	background-color: $dual-pane-page-header-color;
	font-size: 0;
}

$height-scss-fix: 100%;
.dual-pane-page-content {
	height: calc(#{$height-scss-fix} - #{$li-nav-height});
	overflow: auto;
}
