// Controls styles for the logged-in sidebar page.
.li-sidebar-wrapper {
	display: flex;
	height: 100%;
}

.li-sidebar {
	height: 100%;
	background-color: $color-midnight-bluuu;
	flex: 0 0 auto;
	width: $size-base * 40;
	color: $color-white;
	overflow: auto;
	padding-top: $size-base * 8;
}

.li-sidebar-profile {
	text-align: center;

	.username {
		margin-top: $size-base;
	}

	.account {
		font-size: 14px;
		letter-spacing: 1px;

		.type {
			font-weight: bold;
			text-transform: uppercase;
		}

		span {
			padding: 0 $size-base;
		}
	}

	> img {
		margin: 0 auto;
		width: $size-base * 16; // 128px
		border-radius: $size-base * 8;
		border: 2px solid $color-white;
	}

	.tri {
		font-size: 0;
		padding: $size-base * 5 $size-base;

		> div {
			display: inline-block;
			font-size: 10px;
			width: 33.3333%;
			padding: 0 $size-base;
			color: $color-grey-4;
		}

		img {
			margin: 0 auto 4px;
			width: 17px;
			opacity: 0.65;
		}
	}
}

.li-sidebar-nav {
	li {
		list-style: none;
		display: block;

		a {
			&, &:link, &:visited {
				padding: $size-base * 2 0;
				display: block;
				color: rgba(255, 255, 255, $li-sidebar-nav-passive-opacity);
				border-left: $size-base solid $li-sidebar-nav-passive-border-color;
				background-color: $li-nav-passive-background-color;

				img {
					opacity: $li-sidebar-nav-passive-opacity;
				}
			}
			&:hover, &:active,
			&.active {
				color: rgba(255, 255, 255, $li-sidebar-nav-active-opacity);
				border-color: $li-sidebar-nav-active-border-color;
				background-color: $li-nav-active-background-color; // TODO: FIX THIS

				img {
					opacity: $li-sidebar-nav-active-opacity;
				}
			}
		}
		img {
			margin: 0 $size-base * 3 0 $size-base * 4;
			width: 19px;
			height: 19px;
			display: inline-block;
		}
	}
}

.li-sidebar-content {
	flex: 1 1 auto;
	height: 100%;
	overflow: auto;
}
