{# A test page for the dual pane page #}
{% extends "base/li-sidebar-page" %}
{% block title %} Exception Null - Overview {% endblock %}

{% macro cardListElement(imageUrl, title, subtitle) %}
<li>
	<img src="{{ imageUrl }}" />
	<div>
		<div class="title">{{ title }}</div>
		<div>{{ subtitle }}</div>
	</div>
</li>
{% endmacro %}

{% macro challengeTableRow(name, score, result) %}
<tr>
	<td><a href="/feedback">{{ name }}</a></td>
	<td>{{ score }}</td>
	<td class="{{ result }}"></td>
</tr>
{% endmacro %}

{% block content %}
<div class="dashboard">
	<div class="dashboard-row">
		<div class="card col-4 centered">
			<div class="title">Active Evaluation <span class="attention">Due in 14 hours</span></div>
			{% include "base/partial/radial-progress" with {
				"percent": "65",
				"subtitle": "Complete" } %}
			<div class="padded-text">Modeling data with Python (Team)</div>
			<img src="{{ resource.amazon }}/icons/eval-image.png" />
			<div class="spacer-5"></div>
			<div>
				<a href="/evaluate" class="dashboard-active-eval-resume">Resume</a>
			</div>
		</div>

		<div class="card col-4">
			<div class="title">Completed Evaluations</div>
			<ul class="card-list">
				<li class="date">FRIDAY, MAY 5</li>
				{{ cardListElement(
						resource.amazon + "/icons/13654212_10153855726968553_7627473543532932060_n.png",
						"EVALUATED CHALLENGE",
						"Placeholder title for module: language here and this one is too long for the page so it will cause a line wrap but that's ok.") }}

				<li class="date">THURSDAY, MAY 4</li>
				{{ cardListElement(
						resource.amazon + "/icons/13654212_10153855726968553_7627473543532932060_n.png",
						"PROVIDED FEEDBACK",
						"Placeholder title for module: language here") }}
				{{ cardListElement(
						resource.amazon + "/icons/13654212_10153855726968553_7627473543532932060_n.png",
						"PROVIDED FEEDBACK",
						"Placeholder title for module: language here") }}
				{{ cardListElement(
						resource.amazon + "/icons/13654212_10153855726968553_7627473543532932060_n.png",
						"EVALUATED CHALLENGE",
						"Placeholder title for module: language here") }}
			</ul>
		</div>

		<div class="card col-4 centered">
			<div class="title">Your Rating</div>
			<div class="dashboard-guru-rating">
				<div class="average">
					<div class="title">★ 4.89</div>
					<div class="subtitle">Your average score is comprised of anonymous ratings from
						users participating in challenges.</div>
				</div>
				<div class="tri">
					<div>
						<div class="rating">★ 4.79</div>
						<div class="metric">TIMELINESS</div>
					</div>
					<div>
						<div class="rating">★ 4.98</div>
						<div class="metric">FEEDBACK QUALITY</div>
					</div>
					<div>
						<div class="rating">★ 4.60</div>
						<div class="metric">RESPONSE RATE</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="dashboard-row">
		<div class="card col-6 centered">
			<div class="title">Skill Development</div>
			<div class="h-scroll">
				{% include "base/partial/radial-progress" with {
					"percent": "35",
					"subtitle": "Java" } %}
				{% include "base/partial/radial-progress" with {
					"percent": "90",
					"subtitle": "Python" } %}
				{% include "base/partial/radial-progress" with {
					"percent": "45",
					"subtitle": "HTML & CSS" } %}
			</div>
		</div>
		<div class="card col-6 dashboard-active-hours centered">
			<div class="title">Active Hours <span class="hint">This Week</span></div>
			<div class="dashboard-active-hours-wrapper"><canvas id="dashboard-active-hours"></canvas></div>
		</div>
	</div>

	<div class="dashboard-row">
		<div class="card col-8 no-padding">
			<div class="title">Challenges (30)</div>
			<table class="dashboard-challenges">
				<thead>
					<tr>
						<th></th>
						<th><i class="fa fa-star"></i></th>
						<th><i class="fa fa-trophy"></i></th>
					</tr>
				</thead>
				<tbody>
					{{ challengeTableRow("Simple Dependency Injection", "4.63", "win") }}
					{{ challengeTableRow("Data Structures: Interview Question from Amazon", "4.50", "win") }}
					{{ challengeTableRow("Evil Hangman", "3.75", "tie") }}
					{{ challengeTableRow("Uncovering Police Shootings: Introduction to D3", "3.50", "loss") }}
					{{ challengeTableRow("Critters", "3.75", "loss") }}
					{{ challengeTableRow("Wikipedia: The Java Implementation", "1.40", "loss") }}
					{{ challengeTableRow("Undirected Cyclic Graph Detection: Python Challenges", "4.96", "win") }}
				</tbody>
			</table>
		</div>

		<div class="card col-4">
			<div class="title">Messages (4 new)</div>
			<ul class="card-list">
				<li class="date">FRIDAY, MAY 5</li>
				{{ cardListElement(
						resource.amazon + "/icons/13654212_10153855726968553_7627473543532932060_n.png",
						"COMMENT",
						"\"Did you see the feedback on our score?\"") }}
				{{ cardListElement(
						resource.amazon + "/icons/13654212_10153855726968553_7627473543532932060_n.png",
						"COMMENT",
						"\"Did you see the feedback on our score?\"") }}

				<li class="date">THURSDAY, MAY 4</li>
				{{ cardListElement(
						resource.amazon + "/icons/13654212_10153855726968553_7627473543532932060_n.png",
						"QUESTION",
						"\"Did you see the feedback on our score?\"") }}
				{{ cardListElement(
						resource.amazon + "/icons/13654212_10153855726968553_7627473543532932060_n.png",
						"COMMENT",
						"\"Did you see the feedback on our score?\"") }}
			</ul>
		</div>
	</div>

	<div class="dashboard-row">
		<div class="card col-12">
			<div class="title">Badges (24)</div>
			<div class="h-scroll">
				<div class="dashboard-badge">
					<img src="{{ resource.amazon }}/icons/badge-devensor.png" />
					<div>Build an Image Editor with Java</div>
				</div>
				<div class="dashboard-badge">
					<img src="{{ resource.amazon }}/icons/badge-assassin.png" />
					<div>Build an Image Editor with Java</div>
				</div>
				<div class="dashboard-badge">
					<img src="{{ resource.amazon }}/icons/badge-devensor.png" />
					<div>Build an Image Editor with Java</div>
				</div>
				<div class="dashboard-badge">
					<img src="{{ resource.amazon }}/icons/badge-assassin.png" />
					<div>Build an Image Editor with Java</div>
				</div>
				<div class="dashboard-badge">
					<img src="{{ resource.amazon }}/icons/badge-devensor.png" />
					<div>Build an Image Editor with Java</div>
				</div>
				<div class="dashboard-badge">
					<img src="{{ resource.amazon }}/icons/badge-assassin.png" />
					<div>Build an Image Editor with Java</div>
				</div>
			</div>
		</div>
	</div>
</div>

<script src="{{ resource.jscloudflare }}/ajax/libs/Chart.js/2.6.0/Chart.bundle.min.js"></script>
<script>
	(function() {
		window.onload = function() {
			let ctx = document.getElementById('dashboard-active-hours');
			let myChart = new Chart(ctx, {
				type: 'line',
				data: {
					labels: ["Wed", "Thu", "Fri", "Sat", "Sun", "Mon", "Tues"],
					datasets: [{
						label: 'Evaluations',
						backgroundColor: '#533e8d',
						borderColor: '#533e8d',
						data: [ 1.2, 0, 2.4, 1.1, 0.5, 0, 1.3 ],
						fill: false,
					}, {
						label: 'Challenges',
						backgroundColor: '#fdda46',
						borderColor: '#fdda46',
						data: [ 0.3, 0.2, 0, 0, 0.5, 1.2, 0.1 ],
						fill: false,
					}]
				},
				options: {
					maintainAspectRatio: false,
					responsive: true,
					title: { display: false, },
					legend: { display: false },
					tooltips: {
						mode: 'index',
						intersect: false,
					},
					scales: {
						yAxes: [{
							ticks: {
								beginAtZero: true
							}
						}]
					}
				}
			});
		}
	} ());
</script>
{% endblock %}
