{# A test page for the dual pane page #}
{% extends "base/li-sidebar-page" %}
{% block title %} Exception Null - This will override all other titles{% endblock %}

{% block content %}
<div class="dashboard">
	<div class="dashboard-row">
		<div class="col col-4 centered">
			<div class="title">Active Evaluation <span class="attention">Due in 14 hours</span></div>
			{% include "base/partial/radial-progress" with {
				"percent": "65",
				"subtitle": "Complete" } %}
			<div class="padded-text">Modeling data with Python (Team)</div>
			<img src="https://s3-us-west-2.amazonaws.com/jpli-capstone/icons/eval-image.png" />
			<div class="spacer-5"></div>
			<a href="/evaluate" class="dashboard-active-eval-resume">Resume</a>
		</div>

		<div class="col col-4">
			<div class="title">Completed Evaluations</div>
			<ul class="card-list">
				<li class="date">FRIDAY, MAY 5</li>
				{% include "base/partial/dashboard-card-list-element" with {
					"imageUrl": "https://s3-us-west-2.amazonaws.com/jpli-capstone/icons/13654212_10153855726968553_7627473543532932060_n.png",
					"title": "PROVIDED FEEDBACK",
					"subtitle": "Placeholder title for module: language here" } %}
				{% include "base/partial/dashboard-card-list-element" with {
					"imageUrl": "https://s3-us-west-2.amazonaws.com/jpli-capstone/icons/13654212_10153855726968553_7627473543532932060_n.png",
					"title": "PROVIDED FEEDBACK",
					"subtitle": "Placeholder title for module: language here" } %}

				<li class="date">THURSDAY, MAY 4</li>
				{% include "base/partial/dashboard-card-list-element" with {
					"imageUrl": "https://s3-us-west-2.amazonaws.com/jpli-capstone/icons/13654212_10153855726968553_7627473543532932060_n.png",
					"title": "EVALUATED CHALLENGE",
					"subtitle": "Placeholder title for module: language here and this one is too long for the page so it will cause a line wrap but that's ok." } %}
				{% include "base/partial/dashboard-card-list-element" with {
					"imageUrl": "https://s3-us-west-2.amazonaws.com/jpli-capstone/icons/13654212_10153855726968553_7627473543532932060_n.png",
					"title": "PROVIDED FEEDBACK",
					"subtitle": "Placeholder title for module: language here" } %}
				{% include "base/partial/dashboard-card-list-element" with {
					"imageUrl": "https://s3-us-west-2.amazonaws.com/jpli-capstone/icons/13654212_10153855726968553_7627473543532932060_n.png",
					"title": "EVALUATED CHALLENGE",
					"subtitle": "Placeholder title for module: language here" } %}
			</ul>
		</div>

		<div class="col col-4 centered">
			<div class="title">Your Rating</div>
			<div class="dashboard-guru-rating">
				<div class="average">
					<div class="title">★ 4.89</div>
					<div class="subtitle">Your average score is comprised of anonymous ratings from
						users participating in challenges.</div>
				</div>
				<div class="tri">
					<div>
						<div class="rating">★ 4.79</div>
						<div class="metric">TIMELINESS</div>
					</div>
					<div>
						<div class="rating">★ 4.98</div>
						<div class="metric">FEEDBACK QUALITY</div>
					</div>
					<div>
						<div class="rating">★ 4.60</div>
						<div class="metric">RESPONSE RATE</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="dashboard-row">
		<div class="col col-6 centered">
			<div class="title">Skill Development</div>
			<div class="middle-aligner"></div>
			<div class="middle-aligned h-scroll">
				{% include "base/partial/radial-progress" with {
					"percent": "35",
					"subtitle": "Java" } %}
				{% include "base/partial/radial-progress" with {
					"percent": "90",
					"subtitle": "Python" } %}
				{% include "base/partial/radial-progress" with {
					"percent": "45",
					"subtitle": "HTML & CSS" } %}
			</div>
		</div>
		<div class="col col-6 dashboard-active-hours centered">
			<div class="title">Active Hours <span class="hint">This Week</span></div>
			<div class="middle-aligner"></div>
			<img class="middle-aligned" src="https://s3-us-west-2.amazonaws.com/jpli-capstone/icons/dashboard-hours.png" />
		</div>
	</div>

	<div class="dashboard-row">
		<div class="col col-8 no-padding">
			<div class="title">Challenges (30)</div>
			<table class="dashboard-challenges">
				<thead>
					<tr>
						<th></th>
						<th><i class="fa fa-star"></i></th>
						<th><i class="fa fa-trophy"></i></th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td><a href="/feedback">Simple Dependency Injection</a></td>
						<td>3.75</td>
						<td class="win"></td>
					</tr>
					<tr>
						<td>Data Structures: Interview Question from Amazon</td>
						<td>4.50</td>
						<td class="win"></td>
					</tr>
					<tr>
						<td>Evil Hangman</td>
						<td>3.75</td>
						<td class="tie"></td>
					</tr>
					<tr>
						<td>Uncovering Police Shootings: Introduction to D3</td>
						<td>3.50</td>
						<td class="loss"></td>
					</tr>
					<tr>
						<td>Critters</td>
						<td>3.75</td>
						<td class="loss"></td>
					</tr>
					<tr>
						<td>Wikipedia: The Java Implementation</td>
						<td>1.40</td>
						<td class="loss"></td>
					</tr>
					<tr>
						<td>Undirected Cyclic Graph Detection: Python Challenges</td>
						<td>4.96</td>
						<td class="win"></td>
					</tr>
				</tbody>
			</table>
		</div>

		<div class="col col-4">
			<div class="title">Messages (4 new)</div>
			<ul class="card-list">
				<li class="date">FRIDAY, MAY 5</li>
				{% include "base/partial/dashboard-card-list-element" with {
					"imageUrl": "https://s3-us-west-2.amazonaws.com/jpli-capstone/icons/13654212_10153855726968553_7627473543532932060_n.png",
					"title": "COMMENT",
					"subtitle": "\"Did you see the feedback on our score?\"" } %}
				{% include "base/partial/dashboard-card-list-element" with {
					"imageUrl": "https://s3-us-west-2.amazonaws.com/jpli-capstone/icons/13654212_10153855726968553_7627473543532932060_n.png",
					"title": "COMMENT",
					"subtitle": "\"Did you see the feedback on our score?\"" } %}

				<li class="date">THURSDAY, MAY 4</li>
				{% include "base/partial/dashboard-card-list-element" with {
					"imageUrl": "https://s3-us-west-2.amazonaws.com/jpli-capstone/icons/13654212_10153855726968553_7627473543532932060_n.png",
					"title": "QUESTION",
					"subtitle": "\"Did you see the feedback on our score?\"" } %}
				{% include "base/partial/dashboard-card-list-element" with {
					"imageUrl": "https://s3-us-west-2.amazonaws.com/jpli-capstone/icons/13654212_10153855726968553_7627473543532932060_n.png",
					"title": "COMMENT",
					"subtitle": "\"Did you see the feedback on our score?\"" } %}
			</ul>
		</div>
	</div>

	<div class="dashboard-row">
		<div class="col col-12">
			<div class="title">Badges (24)</div>
			<div class="h-scroll">
				<div class="dashboard-badge">
					<img src="https://s3-us-west-2.amazonaws.com/jpli-capstone/icons/badge-devensor.png" />
					<div>Build an Image Editor with Java</div>
				</div>
				<div class="dashboard-badge">
					<img src="https://s3-us-west-2.amazonaws.com/jpli-capstone/icons/badge-assassin.png" />
					<div>Build an Image Editor with Java</div>
				</div>
				<div class="dashboard-badge">
					<img src="https://s3-us-west-2.amazonaws.com/jpli-capstone/icons/badge-devensor.png" />
					<div>Build an Image Editor with Java</div>
				</div>
				<div class="dashboard-badge">
					<img src="https://s3-us-west-2.amazonaws.com/jpli-capstone/icons/badge-assassin.png" />
					<div>Build an Image Editor with Java</div>
				</div>
				<div class="dashboard-badge">
					<img src="https://s3-us-west-2.amazonaws.com/jpli-capstone/icons/badge-devensor.png" />
					<div>Build an Image Editor with Java</div>
				</div>
				<div class="dashboard-badge">
					<img src="https://s3-us-west-2.amazonaws.com/jpli-capstone/icons/badge-assassin.png" />
					<div>Build an Image Editor with Java</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
