{# Code eval page a peer reviewer will interact with #}
{% extends "base/empty-page" %}

{% macro metric(id, name) %}
<div class="metric">
	<label for="{{ id }}">{{ name }}</label>
	<select id="{{ id }}" name="{{ id }}" class="eval-metric">
		<option selected="selected">0</option>
		<option>0.5</option>
		<option>1</option>
		<option>1.5</option>
		<option>2</option>
		<option>2.5</option>
		<option>3</option>
		<option>3.5</option>
		<option>4</option>
		<option>4.5</option>
		<option>5</option>
	</select>
</div>
{% endmacro %}

{% block head %}
<link rel="stylesheet" type="text/css" href="/css/highlightjs-tomorrow-night.css" />
{% endblock %}

{% block body %}
<div class="code-split">
	<div class="left">
		<div class="code-split-header">
			<div class="global-title-font">Image Editor with Java + JS</div>
			<div class="subtitle">Team A versus Team B</div>
			<div class="hint">The building bocks of JavaScript make up every program and line of
				JavaScript.</div>
		</div>

		<div class="code-split-rubric">
			<div class="global-title-font">Grading Rubric</div>
			<div class="metric-container">
				{{ metric("eval-rubric-metric-compiles", "Code Style") }}
				{{ metric("eval-rubric-metric-runs", "Efficiency") }}
				{{ metric("eval-rubric-metric-runtime", "Documentation") }}
				{{ metric("eval-rubric-metric-Coding style", "Goal") }}
			</div>
			<div class="total-wrapper">
				<div class="left">Total</div>
				<div class="right"><span class="bold" id="eval-total-score">0</span> out of <span class="bold">20</span></div>
			</div>
			<div class="last-notes">
				<textarea placeholder="Any last comments for the submitter?"></textarea>
			</div>
			<div class="buttons">
				<a class="submit" href="/dashboard">Submit Review</a>
				<a class="save" href="/dashboard">Save For Later</a>
			</div>
		</div>
	</div>
	<div class="right">
		<pre><code id="eval-code">package com.jonathanpli;

import com.google.common.collect.ImmutableList;
import com.jonathanpli.exceptionnull.controller.helpers.PebbleExtension;
import com.mitchellbosecke.pebble.PebbleEngine;
import com.mitchellbosecke.pebble.loader.ClasspathLoader;
import com.mitchellbosecke.pebble.loader.Loader;
import com.mitchellbosecke.pebble.spring4.PebbleViewResolver;
import org.springframework.boot.SpringApplication;
import org.springframework.boot.autoconfigure.SpringBootApplication;
import org.springframework.context.ConfigurableApplicationContext;
import org.springframework.context.annotation.Bean;
import org.springframework.web.servlet.ViewResolver;

import java.util.List;
import java.util.logging.Level;
import java.util.logging.Logger;

@SpringBootApplication
public class ExceptionNullApplication {
	private static final String DEBUG_PARAMETER = "-debug";

	private static Logger logger = Logger.getLogger(ExceptionNullApplication.class.getName());
	private static boolean debug;

	public static void main(String[] args) {
		ConfigurableApplicationContext ctx =
				SpringApplication.run(ExceptionNullApplication.class, args);

		List&lt;String> argList = ImmutableList.copyOf(args);
		if (argList.contains(DEBUG_PARAMETER)) {
			logger.log(Level.WARNING, "Debugging is enabled. If you see this message in prod, "
					+ "something's gone horribly wrong.");
			debug = true;
		}
	}

	@Bean
	public static Loader&lt;?> loader() {
		return new ClasspathLoader();
	}

	@Bean
	public static PebbleEngine pebbleEngine() {
		PebbleEngine.Builder builder = new PebbleEngine.Builder()
				.extension(new PebbleExtension())
				.loader(loader());

//		if (debug) {
			logger.log(Level.INFO, "Disabling Pebble Engine cache");
			builder.cacheActive(false);
//		}

		return builder.build();
	}

	@Bean
	public static ViewResolver viewResolver() {
		PebbleViewResolver viewResolver = new PebbleViewResolver();
		viewResolver.setPrefix("templates/");
		viewResolver.setSuffix(".html");
		viewResolver.setPebbleEngine(pebbleEngine());

		return viewResolver;
	}

	@Bean
	public static Logger logger() {
		return logger;
	}
}</code></pre>
	</div>
</div>

<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.11.0/highlight.min.js"></script>
<script>
(function() {
	hljs.configure({
		classPrefix: ''
	});
	hljs.initHighlighting();

	let a = document.getElementById('eval-code');
	let r = "";
	a.innerHTML.split("\n").forEach(function(lineContent) {
		if (lineContent == "") {
			lineContent = " ";
		}
		r += '<div class="eval-line">' + lineContent + '<div class="eval-comment-wrapper"><textarea placeholder="Comment..." autocomplete="off" spellcheck="false"></textarea></div></div>';
	});
	a.innerHTML = r;

	// Wire open/close of comment wrapper
	let lines = document.getElementsByClassName('eval-line');
	for (let i = 0; i < lines.length; i++) {
		lines[i].onclick = function() {
			if (this.classList.contains("active")) {
				this.classList.remove("active");
			} else {
				this.classList.add("active");
			}
		};
	}

	// Prevent clicking of the wrapper closing the comment wrapper
	let comments = document.getElementsByClassName('eval-comment-wrapper');
	for (let i = 0; i < comments.length; i++) {
		comments[i].onclick = function(e) {
			e.stopPropagation();
			return false;
		};
	}

	// Wire changing metric values to do something
	let totalEl = document.getElementById('eval-total-score');
	let metrics = document.getElementsByClassName('eval-metric');
	for (let i = 0; i < metrics.length; i++) {
		metrics[i].onchange = function() {
			let total = 0;
			for (let j = 0; j < metrics.length; j++) {
				total += parseFloat(metrics[j].options[metrics[j].selectedIndex].text)
			}
			totalEl.innerHTML = total;
		}
	}

} ())
</script>
{% endblock %}
