{# Homepage for exceptionnull #}

{% extends "base/empty-page" %}
{% block title %}Exception Null - Home{% endblock %}

{% block body %}
<div class="home-sign-up" id="home-sign-up">
	<div class="left">
		<div class="middle-aligner"></div>
		<div class="middle-aligned">
			<div><img src="https://s3-us-west-2.amazonaws.com/jpli-capstone/logo/144x144-white.png" /></div>
			<div class="global-title-font">
				Sign up now to experience<br />
				Exception Null's coding challenges.
			</div>
			<div class="subtitle">Write something additional here.</div>
			<div>
				<form action="/dashboard" method="post">
					<div><input type="text" placeholder="NAME" /></div>
					<div><input type="text" placeholder="EMAIL" /></div>
					<div><button type="submit" class="global-pink-button">SIGN UP</button></div>
				</form>
			</div>
		</div>
	</div>
	<div class="right"></div>
</div>

<div class="home-how" id="home-how">
	<div class="tri">
		<div id="home-how-1">
			<div class="global-title-font">Gamified Learning</div>
			<img src="https://s3-us-west-2.amazonaws.com/jpli-capstone/icons/Woman_1.png" />
			<div>Gamified learning experience. Opportunity to test your knowledge and skills.</div>
		</div>
		<div id="home-how-2">
			<div class="global-title-font">Receive Feedback</div>
			<img src="https://s3-us-west-2.amazonaws.com/jpli-capstone/icons/woman_2.png" />
			<div>Comprehensive and professional feedback from our team of industry
				professionals.</div>
		</div>
		<div id="home-how-3">
			<div class="global-title-font">Get Jobs</div>
			<img src="https://s3-us-west-2.amazonaws.com/jpli-capstone/icons/woman_3.png" />
			<div>Own technical interviews. Learn industry best practices for code!</div>
		</div>
	</div>
</div>

<div class="home-light-demo" id="home-demo">
	<div class="content">
		<div class="global-title" id="home-demo-1">placeholder title</div>
		<div class="spacer"></div>
		<div id="home-demo-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
			eiusmod tempor incididunt ut labore et dolore magna aliqua.</div>
	</div>
	<div class="images" id="home-demo-images">
		<img src="https://s3-us-west-2.amazonaws.com/jpli-capstone/icons/landing-ss-1.png"
			 id="home-demo-images-1"/>
		<img src="https://s3-us-west-2.amazonaws.com/jpli-capstone/icons/landing-ss-2.png"
			 id="home-demo-images-2"/>
		<img src="https://s3-us-west-2.amazonaws.com/jpli-capstone/icons/landing-ss-3.png"
			 id="home-demo-images-3"/>
	</div>
</div>

<div class="home-achievement top" id="home-achievement">
	<div class="middle-aligner"></div>
	<img src="https://s3-us-west-2.amazonaws.com/jpli-capstone/icons/woman.png"
		 class="middle-aligned"
		 id="home-achievement-1" />
	<div class="horizontal-spacer middle-aligned"></div>
	<div class="content middle-aligned">
		<div class="global-title" id="home-achievement-2">placeholder title</div>
		<div class="spacer"></div>
		<div id="home-achievement-3">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
			laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi
			architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas
			sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione
			voluptatem sequi nesciunt.</div>
		<div class="spacer"></div>
		<a href="#home-sign-up" class="global-pink-button" id="home-achievement-4">sign up</a>
	</div>
</div>
<div class="home-achievement bottom" id="home-mission">
	<div class="middle-aligner"></div>
	<div class="content middle-aligned">
		<div class="global-title" id="home-mission-2">our mission</div>
		<div class="spacer"></div>
		<div id="home-mission-3">Technology is increasingly becoming more integrated into our everyday lives. At
			Exception Null, we believe that being able to write good code should be a skill
			everyone should have a chance to develop. That is why we built our platform.</div>
		<div class="spacer"></div>
		<div id="home-mission-4">When you subscribe to our service, you not only unlock features that allow you to
			build on your skills through challenges and collaboration that simulates industry, but
			you will also be providing an opportunity for someone else less fortunate to learn to
			code. Helping engineers improve is great. Allowing everyone the opportunity the
			opportunity to shine is even better. We encounter people with brilliant ideas everyday
			and we want to help them achieve their dreams in search of that better tomorrow for
			all.</div>
	</div>
	<div class="horizontal-spacer middle-aligned"></div>
	<img src="https://s3-us-west-2.amazonaws.com/jpli-capstone/icons/standing_woman.png"
		 class="middle-aligned"
		 id="home-mission-1" />
</div>

<div class="home-membership" id="home-membership">
	<div class="global-title" id="home-membership-1">MEMBERSHIPS</div>
	<div class="subtitle" id="home-membership-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
		eiusmod tempor incididunt ut labore et dolore magna aliqua.</div>

	<div class="home-membership-plans">
		<div class="free" id="home-membership-3">
			<div class="body">
				<div class="global-title">FREE</div>
				<div class="price">0</div>
				<ul>
					<li>Submit prompts and challenges of your own creation to be published on our platform.</li>
					<li>Free challenges with an overall score.</li>
				</ul>
			</div>
			<a href="/dashboard">SIGN UP</a>
		</div>
		<div class="divider"></div>
		<div class="premium" id="home-membership-4">
			<div class="body">
				<div class="global-title">PREMIUM</div>
				<div class="price">19.99</div>
				<ul>
					<li>Submit prompts and challenges of your own creation.</li>
					<li>Free challenges with an overall score.</li>
					<li>Challenges are segmented and evaluated by industry professionals.</li>
					<li>Receive reviews and feedback from other ExceptionNull users.</li>
					<li>Get exclusive access to companies that are looking to hire!</li>
					<li>Provide your own feedback to other coders learn.</li>
				</ul>
			</div>
			<a href="/dashboard">GO PREMIUM</a>
		</div>
	</div>
</div>

<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
<script>
	(function() {
		// This sequence of functions is a little confusing, so to explain here's an example:
		// <div id="base-id">
		//   <div id="base-id-1"></div>
		//   <div id="base-id-2"></div>
		//   <div id="base-id-3"></div>
		// </div>
		// In the javascript, this would be animated by calling `bind('base-id', 3)`
		// The functions will then automatically hide the 3 children elements and once the parent
		// wrapper element is scrolled down to and is visible in the viewport, the 3 elements will
		// fade in with the order given by the id numbering.

		// Fetch element
		function e(s) {
			return document.getElementById(s);
		}
		function zero() {
			for (let i = 0; i < arguments.length; i++) {
				arguments[i].style.opacity = 0;
			}
		}
		function animate(el, delay) {
			delay = delay || 0;
			setTimeout(function() { $(el).animate({ 'opacity': 1 }, 500, 'easeInOutCubic'); }, delay);
		}
		let boundAnimations = {};
		function bind(base, count) {
			// Have we already scrolled past it?
			if (e(base).getBoundingClientRect().top < 0) {
				return;
			}

			// If not, hide all the children
			for (let i = 1; i <= count; i++) {
				zero(e(base + "-" + i));
			}

			// And add the parent to the animation queue
			boundAnimations[base] = { e: e(base), count: count };
		}

		// First load
		let signUp = e('home-sign-up');
		zero(signUp);
		window.onload = function() {
			animate(signUp);
		};

		// on scroll
		window.onscroll = function() {
			Object.keys(boundAnimations).forEach(function(base) {
				// check if the wrapper is in viewport
				if (boundAnimations[base].e.getBoundingClientRect().top < document.body.offsetHeight / 3 * 2) {
					// Animate in the children in order
					let delay = 0;
					for (let i = 1; i <= boundAnimations[base].count; i++) {
						animate(e(base + "-" + i), delay);
						delay += 150;
					}

					// Because we're now visible, delete this wrapper from the animation queue as
					// the opacity is already 1 and there'd be no point in re-animating them.
					delete boundAnimations[base];
				}
			});
		};

		bind('home-how', 3);
		bind('home-demo', 2);
		bind('home-demo-images', 3);
		bind('home-achievement', 4);
		bind('home-mission', 4);
		bind('home-membership', 4);
	} ())
</script>

<footer class="home-footer">
	<div>Made with love in Seattle, Washington.</div>
	<div>Copyright Exception Null team 2017.</div>
</footer>
{% endblock %}
