<!-- adds base html -->
{% extends "base/empty-page" %}

{% block title %}Exception Null - Home{% endblock %}

{% block body %}
	<div class="container">
		Hi, there is content in here.
	</div>
	<div class="container">
		<ul>
			<li>Visit <a href="/login?login=...">/login?login=...</a> to log in (you must
				provide the correct password</li>
			<li>Visit <a href="/logout">/logout</a> to log out</li>
			<li>Visit <a href="/learn/a language/a module/edit">/learn/a language/a module/edit</a>
				to test out login privilege</li>
		</ul>
	</div>
{% endblock %}
