// Styles pertaining to global elements (eg. header, body, and footer)
.global-title {
	font-family: $title-font;
	text-transform: uppercase;
}
.global-title-font {
	font-family: $title-font;
}

.global-pink-button {
	&, &:link, &:visited {
		color: $color-white;
		background-color: $color-pink;
		padding: $size-base * 1 $size-base * 7;
		border-radius: 100px;
		display: inline-block;
		text-transform: uppercase;
		border: none;
		cursor: pointer;
	}
}
a.global-pink-button,
button.global-pink-button {
	&:hover, &:active {
		color: $color-pink;
		background-color: $color-white;
	}
}
