// Styles that define large portion behavior of the site.
// *** Layouts
.container {
	padding-left: $default-content-spacing;
	padding-right: $default-content-spacing;
}

// *** Positioners/Spacers
.middle-aligner,
.middle-aligned {
	display: inline-block;
	vertical-align: middle;
}
.middle-aligner {
	height: 100%;
}

.bottom-aligned,
.bottom-aligner {
	display: inline-block;
	vertical-align: bottom;
}
.bottom-aligner {
	height: 100%;
}

// Cards/columns
.card {
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.1), 1px 1px 2px rgba(0, 0, 0, 0.11);
	font-size: 13px;

	> .title {
		text-align: left;
		margin-bottom: $size-base * 2;
		font-size: 16px;

		.attention {
			font-size: 12px;
			font-weight: bold;
			color: $color-red;
		}

		.hint {
			font-size: 12px;
			color: $color-grey-5;
		}
	}
	.padded-text {
		padding: $size-base * 2 0;
	}

	.h-scroll {
		white-space: nowrap;
		overflow-y: auto;
		padding: $size-base * 2 0;
		width: 100%;
		text-align: center;
	}

	&.no-padding {
		padding: 0;

		> .title {
			padding: $size-base * 2;
			padding-bottom: 0;
		}
	}

	&.centered {
		text-align: center;
	}
}
