// Styles that define large portion behavior of the site.
// *** Layouts
.container {
	padding-left: $default-content-spacing;
	padding-right: $default-content-spacing;
}

// *** Positioners/Spacers
.middle-aligner,
.middle-aligned {
	display: inline-block;
	vertical-align: middle;
}
.middle-aligner {
	height: 100%;
}

.bottom-aligned,
.bottom-aligner {
	display: inline-block;
	vertical-align: bottom;
}
.bottom-aligner {
	height: 100%;
}

// Cards/columns
.card {
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.1), 1px 1px 2px rgba(0, 0, 0, 0.11);
	font-size: 13px;

	> .title {
		text-align: left;
		margin-bottom: $size-base * 2;
		font-size: 16px;

		.attention {
			font-size: 12px;
			font-weight: bold;
			color: $color-red;
		}

		.hint {
			font-size: 12px;
			color: $color-grey-5;
		}
	}
	.padded-text {
		padding: $size-base * 2 0;
	}

	.h-scroll {
		white-space: nowrap;
		overflow-y: auto;
		padding: $size-base * 2 0;
		width: 100%;
		text-align: center;
	}

	&.no-padding {
		padding: 0;

		> .title {
			padding: $size-base * 2;
			padding-bottom: 0;
		}
	}

	&.centered {
		text-align: center;
	}
}

// Code split screen
.code-split {
	display: flex;
	height: 100%;

	> .left {
		flex: 0 0 auto;
		width: 350px;
		border-right: 4px solid #b8babd;
		background-color: $color-white;
		overflow: auto;
	}

	> .right {
		flex: 1 1 auto;
		height: 100%;
		overflow: auto;
		pre,
		code {
			width: 100%;
			height: 100%;
		}
	}
}

$rubric-wrapper-width: 250px;
.code-split-rubric {
	padding-top: $size-base * 6;

	.global-title-font {
		background-color: $color-midnight-bluuu;
		text-align: center;
		padding: $size-base;
		color: $color-white;
		font-size: 16px;
	}

	.metric-container {
		width: $rubric-wrapper-width;
		margin: $size-base * 4 auto 0;
		padding: 0 2px 4px;
		border-bottom: 1px solid $color-light-grey-5;
	}

	.metric {
		display: flex;
		align-items: center;
		margin-bottom: $size-base * 2;
	}

	label {
		flex: 1 1 auto;
		font-size: 14px;
	}
	select {
		flex: 0 0 auto;
		width: 90px;
		background-color: $color-light-grey-5;
		border-radius: 4px;
		border: none;
		font-size: 14px;
	}

	select, option {
		font-family: $primary-font;
		padding: 4px 8px;
		font-weight: bold;
	}

	.total-wrapper {
		width: $rubric-wrapper-width;
		display: flex;
		margin: $size-base * 2 auto 0;
		font-size: 16px;

		.left, .right {
			flex: 1 1 auto;
		}

		.right {
			text-align: right;
		}

		.left,
		.bold {
			font-weight: bold;
		}
	}

	.last-notes {
		padding: $size-base * 6 $size-base * 2 0;

		textarea {
			width: 100%;
			min-height: 128px;
			resize: vertical;
			padding: $size-base;
			font-family: $primary-font;
			border: 1px solid $color-light-grey3;
			border-radius: 3px;
			overflow: auto;

			&[disabled=disabled] {
				resize: none;
			}
		}
	}

	.buttons {
		padding: $size-base * 2;
		text-align: center;

		a {
			display: inline-block;
			margin: $size-base;
			padding: $size-base $size-base * 2;
			border-radius: 3px;
			font-size: 14px;

			&, &:link, &:visited {
				color: $color-midnight-bluuu;
				background-color: transparent;
			}
		}

		.save {
			&:hover, &:active {
				background-color: $color-light-grey-5;
			}
		}
		.submit {
			&:hover, &:active {
				background-color: $color-midnight-bluuu;
				color: $color-white;
			}
		}
	}
}

// Belongs inside a code-split left block.
.code-split-header {
	padding: $size-base * 6 $size-base * 4 0;
	text-align: center;

	.global-title-font {
		font-size: 16px;
	}

	.subtitle {
		font-size: 12px;
	}

	.hint {
		font-size: 12px;
		color: $color-deep-grey;
		margin-top: $size-base * 2;
	}
}
