// Variables used throughout the styles.
$primary-font: "Helvetica Neue", "Open Sans", sans-serif;

// *** Definitions
// Colors
$color-white: #fff;
$color-off-white: #f0f0f0;
$color-light-grey: #e9e9e9;
$color-grey: #d8d8d8;
$color-deep-grey: #9b9b9b;
$color-dark-grey: #4a4a4a;
$color-black: #000;

// Sizing
$size-base: 8px;

// Animation
$animation-time-reactive: 0.3s;
$animation-fn-ease-in: cubic-bezier(.25,.8,.25,1);
$default-transition: $animation-time-reactive $animation-fn-ease-in;

// *** Mixins + Templates
// Material design layers
%shadow-layer-1 {
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
%shadow-layer-2 {
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
%shadow-layer-3 {
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
%shadow-layer-4 {
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
%shadow-layer-5 {
	box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}
%shadow-layer-active {
	transition: box-shadow $default-transition;

	&:hover {
		@extend %shadow-layer-4;
	}
}

// *** Application
// Default/Tag
$default-background-color: $color-off-white;
$default-accent-background-color: $color-white;
$default-color: $color-dark-grey;

$default-content-spacing: $size-base * 7;

// Header
$header-logo-size: $size-base * 9;
$header-height: $size-base * 16;
$header-background-color: $default-accent-background-color;

$header-nav-color: $color-black;
$header-nav-horizontal-spacing: $size-base * 4;
$header-nav-bottom-spacing: $size-base * 3;
$header-nav-border-bottom-height: 10px;
$header-nav-passive-border-color: transparent;
$header-nav-active-border-color: $color-grey;
