{# An empty page containing all eNull styles, scripts, and tracking code #}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>{% block title %}Exception Null{% endblock %}</title>
		<link href="https://www.fontify.me/wf/e6be3d2ca9f6e0ae85eeeaeb28724bd3"
			  rel="stylesheet"
			  type="text/css">
		<link rel="stylesheet"
			  href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
		<link rel="stylesheet" href="/css/styles.css" />
	</head>
	<body>
		{% block body %}{% endblock %}
	</body>
</html>
