<!-- bempty-page.htmlhtml - The core shared template page all other pages should extend. -->
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>{% block title %}Exception Null{% endblock %}</title>

		<link rel="stylesheet" href="/css/styles.css" />
	</head>

	<body>
		<header class="global-header container">
			<div class="left">
				<div class="middle-aligner"></div>
				<img class="global-logo middle-aligned"
					 src="https://s3-us-west-2.amazonaws.com/jpli-capstone/logo/144x144.png" />
			</div>
			<nav class="global-nav right">
				<ul>
					<li>
						<div class="bottom-aligner"></div>
						<a class="bottom-aligned active" href="#">LEARN</a>
					</li>
					<li>
						<div class="bottom-aligner"></div>
						<a class="bottom-aligned" href="#">CHALLENGE</a>
					</li>
					<li>
						<div class="bottom-aligner"></div>
						<a class="bottom-aligned" href="#">PROFILE</a>
					</li>
				</ul>
			</nav>
		</header>

		<main class="global-main">
			{% block body %}{% endblock %}
		</main>
	</body>
</html>
