{# Logged in base page with navigation header #}
{% extends "base/empty-page" %}

{% block body %}
<nav class="li-nav">
	<div class="left">
		<div class="middle-aligner"></div>
		<img src="{{ resource.amazon }}/logo/144x144.png"
			 class="middle-aligned">
		<div class="middle-aligned title">Exception Null</div>
	</div>
	<div class="right">
		<div class="bottom-aligner"></div>
		<ul class="bottom-aligned">
			<li>
				<a href="/dashboard" class="active">DASHBOARD</a>
			</li>
			<li>
				<a href="/challenge">CHALLENGE</a>
			</li>
		</ul>
	</div>
</nav>
<main class="li-main">
	{% block main %}{% endblock %}
</main>
{% endblock %}
