{# Logged in page with a nav menu and profile sidebar. #}
{% extends "base/li-nav-page" %}

{% macro navElement(href, image, display, class) %}
<li>
	<a href="{{ href }}" class="{{ class }}">
		<div class="middle-aligner"></div>
		<img class="middle-aligned"
			 src="{{ image }}" />
		<div class="middle-aligned">{{ display }}</div>
	</a>
</li>
{% endmacro %}

{% block main %}
<div class="li-sidebar-wrapper">
	<div class="li-sidebar">
		<div class="li-sidebar-profile">
			<img src="{{ resource.amazon }}/icons/13654212_10153855726968553_7627473543532932060_n.png" />
			<div class="username">Mr. Gabe Alex Ho</div>
			<div class="account"><span class="type">GURU</span>•<span class="rating">★ 4.89</span></div>
			<div class="tri">
				<div>
					<img src="{{ resource.amazon }}/icons/ICON_Friends.png" />
					<div>123 friends</div>
				</div>
				<div>
					<i class="fa fa-shield"></i>
					<div>24 badges</div>
				</div>
				<div>
					<i class="fa fa-trophy"></i>
					<div>29 wins</div>
				</div>
			</div>
		</div>
		<ul class="li-sidebar-nav">
			{{ navElement("/dashboard", resource.amazon + "/icons/ICON_PersonalStats.png", "Overview", dashboardClasses) }}
			{{ navElement("/friends", resource.amazon + "/icons/ICON_Friends.png", "Friends", friendsClasses) }}
			{{ navElement("/earnings", resource.amazon + "/icons/ICON_earnings.png", "Earnings", earningsClasses) }}
			{{ navElement("/messages", resource.amazon + "/icons/ICON_messages.png", "Messages", messagesClasses) }}
			{{ navElement("/settings", resource.amazon + "/icons/ICON_Settings.png", "Profile", settingsClasses) }}
		</ul>
	</div>
	<div class="li-sidebar-content">
		{% block content %}{% endblock %}
	</div>
</div>
{% endblock %}
