{# Logged in page with a nav menu and profile sidebar. #}
{% extends "base/li-nav-page" %}

{% block main %}
<div class="li-sidebar-wrapper">
	<div class="li-sidebar">
		<div class="li-sidebar-profile">
			<img src="http://www.gantrypark.com/Portals/12/Users/066/14/53314/adam-parker-large.jpg" />
			<div class="username">Richard Hendricks</div>
			<div class="account"><span class="type">GURU</span>•<span class="rating">★ 4.89</span></div>
			<div class="tri">
				<div>
					<img src="https://s3-us-west-2.amazonaws.com/jpli-capstone/icons/ICON_Friends.png" />
					<div>123 friends</div>
				</div>
				<div>
					<img src="https://s3-us-west-2.amazonaws.com/jpli-capstone/icons/ICON_Friends.png" />
					<div>24 badges</div>
				</div>
				<div>
					<img src="https://s3-us-west-2.amazonaws.com/jpli-capstone/icons/ICON_Friends.png" />
					<div>29 wins</div>
				</div>
			</div>
		</div>
		<ul class="li-sidebar-nav">
			{% include "base/partial/li-sidebar-nav-element" with {
				"href": "#",
				"image": "ICON_PersonalStats.png",
				"display": "Overview",
				"class": "active"} %}
			{% include "base/partial/li-sidebar-nav-element" with {
				"href": "#",
				"image": "ICON_Friends.png",
				"display": "Friends"} %}
			{% include "base/partial/li-sidebar-nav-element" with {
				"href": "#",
				"image": "ICON_earnings.png",
				"display": "Earnings"} %}
			{% include "base/partial/li-sidebar-nav-element" with {
				"href": "#",
				"image": "ICON_messages.png",
				"display": "Messages"} %}
			{% include "base/partial/li-sidebar-nav-element" with {
				"href": "#",
				"image": "ICON_Settings.png",
				"display": "Settings"} %}
		</ul>
	</div>
	<div class="li-sidebar-content">
		{% block content %}{% endblock %}
	</div>
</div>
{% endblock %}
