{# nav-page.html - The core shared template page all other pages should extend. #}

{% extends "base/empty-page" %}

{% block body %}
<header class="global-header container">
	<div class="left">
		<div class="middle-aligner"></div>
		<img class="global-logo middle-aligned"
			 src="https://s3-us-west-2.amazonaws.com/jpli-capstone/logo/144x144.png" />
	</div>
	<nav class="global-nav right">
		<ul>
			<li>
				<div class="bottom-aligner"></div>
				<a class="bottom-aligned active" href="#">LEARN</a>
			</li>
			<li>
				<div class="bottom-aligner"></div>
				<a class="bottom-aligned" href="#">CHALLENGE</a>
			</li>
			<li>
				<div class="bottom-aligner"></div>
				<a class="bottom-aligned" href="#">PROFILE</a>
			</li>
		</ul>
	</nav>
</header>

<main class="global-main">
	{% block main %}{% endblock %}
</main>
{% endblock %}
