// Radial progress bar.
// Dude don't ask me how this works. I have no idea.

$barUnfilledColor: $color-light-grey4;
$barFilledColor: $color-light-purple;
$step: 5; // step of % for created classes
$loops: round(100 / $step);
$increment: 360 / $loops;
$half: round($loops / 2);

$radial-progress-size: 138px;
$radial-progress-bar-width: 5px;
$radial-progress-h-margin: $size-base;
.progress-radial-wrapper {
	width: 138px + $radial-progress-h-margin * 2;
	height: 138px;
	display: inline-block;
	padding: 0 $size-base;
}
.progress-radial {
	width: $radial-progress-size;
	height: $radial-progress-size;
	border-radius: 50%;
	margin: 0 $radial-progress-h-margin (-$radial-progress-size);
	display: inline-block;

	.overlay {
		width: $radial-progress-size - (2 * $radial-progress-bar-width);
		height: $radial-progress-size - (2 * $radial-progress-bar-width);
		background-color: $color-white;
		border-radius: 50%;
		margin-left: $radial-progress-bar-width;
		margin-top: $radial-progress-bar-width;
		text-align: center;
		font-size: 16px;
	}
	.percent {
		color: $color-deluge;
		font-size: 24px;

		&::after {
			content: '%';
		}
	}
	.subtitle {
		margin-top: -4px;
		font-size: 12px;
		color: $color-light-grey3;
	}
}
@for $i from 0 through $loops {
	.progress-#{$i*$step} {
		@if $i < $half {
			$nextdeg: 90deg + ( $increment * $i );
			background: linear-gradient(90deg, $barUnfilledColor 50%, transparent 50%, transparent),
				linear-gradient($nextdeg, $barFilledColor 50%, $barUnfilledColor 50%, $barUnfilledColor);
		} @else {
			$nextdeg: -90deg + ( $increment * ( $i - $half ) );
			background: linear-gradient($nextdeg, $barFilledColor 50%, transparent 50%, transparent),
				linear-gradient(270deg, $barFilledColor 50%, $barUnfilledColor 50%, $barUnfilledColor);
		}
	}
}
